.intro-title h1,
.intro-title h3,
.intro-description p {
    color: white;
}

.special {
    color: #ffe3ae;
}
.special:hover {
    color: #ffe3ae;
}

.special-active {
    color: white;
}
.special-active:hover {
    color: white;
}

.intro-section {
    background-image: linear-gradient(#fca440, #fc8841);
}