.intro-title h1,
.intro-title h3,
.intro-description p {
    color: white;
}

.special {
    color: #C2FBFF;
}
.special:hover {
    color: #E5FDFF;
}

.special-active {
    color: white;
}
.special-active:hover {
    color: white;
}

.intro-section {
    background-color: #6DE0E8;
}